## Load packages and source file

In [8]:
import numpy as np
import pandas as pd
import os
import itertools
from itertools import repeat
import sys
sys.path.insert(1,  f'{os.getcwd()}/src/run_functions')
import run_nTreeClus_one_df
from run_nTreeClus_one_df import get_clust_res
import multiprocessing

## Set up inputs

In [14]:
path = os.getcwd()
inputs = {'o_fold':'order_1', 'folder_name':'dur2_med', 'max': 6, 'true': 3}

## Run nTreeClus for the 10 simulated datasets

In [15]:
pool = multiprocessing.Pool(24) #can change the size to less than 24
res = pool.starmap(get_clust_res, zip(range(0, 10), repeat(path), repeat(inputs)))
final_df = pd.concat(res, axis = 0)

In [25]:
final_df.head()

   best_num  best_clust  true_clust  seed
0         2           0           3     0
1         2           1           2     0
2         2           1           2     0
3         2           1           3     0
4         2           1           2     0

In [26]:
final_df.to_csv(f'{path}/results/example_run_sim_ntrees_clust.csv', index=False)